version: "3"
services:
  nginx_front: # SSLのオフロード＆AuthRequest担当
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx_front.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt/live/ide.c9work.net/privkey.pem:/etc/nginx/ide.c9work.net.key:ro
      - /etc/letsencrypt/live/ide.c9work.net/fullchain.pem:/etc/nginx/ide.c9work.net.crt:ro
      - /etc/letsencrypt/live/preview.c9work.net/privkey.pem:/etc/nginx/preview.c9work.net.key:ro
      - /etc/letsencrypt/live/preview.c9work.net/fullchain.pem:/etc/nginx/preview.c9work.net.crt:ro
      - /etc/letsencrypt/live/c9work.net/privkey.pem:/etc/nginx/c9work.net.key:ro
      - /etc/letsencrypt/live/c9work.net/fullchain.pem:/etc/nginx/c9work.net.crt:ro
    depends_on:
      - oauth2_proxy
      - nginx_back
    deploy:
      placement:
        constraints:
          - 'node.role==manager'

  oauth2_proxy:
    image: quay.io/pusher/oauth2_proxy
    environment:
      - OAUTH2_PROXY_PROVIDER=github
      - OAUTH2_PROXY_EMAIL_DOMAINS=*
      - OAUTH2_PROXY_CLIENT_ID
      - OAUTH2_PROXY_CLIENT_SECRET
      - OAUTH2_PROXY_COOKIE_NAME
      - OAUTH2_PROXY_COOKIE_SECRET
      - OAUTH2_PROXY_COOKIE_DOMAIN=c9work.net
      - OAUTH2_PROXY_WHITELIST_DOMAINS=.ide.c9work.net
      - OAUTH2_PROXY_REDIRECT_URL=https://auth.c9work.net/oauth2/callback
      - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
      - OAUTH2_PROXY_SET_XAUTHREQUEST=true
    ports:
      - '4180:4180'

  nginx_back: # stackへのルーティング担当
    image: nginx:stable-alpine
    volumes:
      - ./nginx_back.conf:/etc/nginx/nginx.conf:ro
    deploy:
      placement:
        constraints:
          - 'node.role==manager'

networks:
  default:
    external:
      name: cloud-pine-master
